.container-create {
  width: 80%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-create>div {
  display: flex;
  margin-bottom: 3.2rem;
  justify-self: center;
}

.create-input {
  width: 70%;
  height: 4rem;
  padding: 0.8rem;
  border: 0.2rem solid black;
  border-radius: 3rem;
  margin-bottom: 1.6rem;
}

.create-button {
  width: 8rem;
  height: 3.6rem;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 2rem;
  background-color: transparent;
}

.create-button:hover {
  background-color: rgb(15, 158, 15);
  color: var(--color-letters);
  cursor: pointer;
}