.container-cards {
  width: 80%;
  display: flex;
  place-self: center;
}

.container-cards ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 2rem;
  margin: 0 auto;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 2rem;
  border-radius: 1rem;
  width: 42rem;
  height: 9.2rem;
}

.card-image {
  width: 6rem;
  height: 5.2rem;
  border-radius: 50%;
  object-fit: cover;
}

.card-p {
  width: 22rem;
  max-height: 5.3rem;
  font-weight: bold;
  font-size: 2rem;
  word-wrap: break-word;
  text-align: center;
  color: black;
  overflow-y: auto;
  margin-left: 3.5rem;
}

.link-container {
  text-decoration: none;
  display: flex;
  align-items: center;
}


.card-button {
  width: 8rem;
  height: 3.6rem;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 1rem;
  border: 0.2rem black solid;
  background-color: white;
}

.card-button:hover {
  background-color: rgb(227, 36, 36);
  color: var(--color-letters);
  cursor: pointer;
}


@media (max-width: 1400px) {
  .container-cards {
    width: 100%;
    margin-bottom: 1rem;
  }

  .container-cards ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2rem;
    margin: 0 auto;
  }

  .card {
    width: 30rem;
    padding: 1rem;
  }

  .card-p {
    width: 12rem;
    margin-left: 1.2rem;
  }

}

@media (max-width: 800px) {
  .container-cards ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}