.container-cardView {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardView-back {
  position: absolute;
  top: 3.2rem;
  left: 3.2rem;
  width: 8rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: italic;
  font-family: 'DM Sans', sans-serif;
  border-radius: 1rem;
}

.cardView-back:hover {
  background-color: papayawhip;
  cursor: pointer;
}

.cardView {
  width: 35rem;
  height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 0.3rem solid black;
  border-radius: 2rem;
  position: relative;
}

.cardView-id {
  width: 6rem;
  min-height: 3rem;
  max-height: 6.2rem;
  padding: 0.3rem;
  position: absolute;
  top: 0;
  right: 1.3rem;
  text-align: center;
  border: 0.2rem solid black;
  border-radius: 1rem;
  margin: 1rem auto;
  font-weight: bold;
  overflow: hidden;
  background-color: white;
}

.cardView-image {
  width: 21rem;
  height: 18rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.2rem solid black;
}

.cardView-title {
  text-align: center;
}

.cardView-button {
  width: 15rem;
  height: 5rem;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 1rem;
  border: 0.2rem black solid;
  background-color: white;
}

.cardView-button:hover {
  background-color: rgb(227, 36, 36);
  color: var(--color-letters);
  cursor: pointer;
}